<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Operadores" [breadcrumbItems]="itensBreadcrumb"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="operadorList">
            <div class="card-header border-0">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Buscar operador..." [(ngModel)]="termoBusca" (ngModelChange)="pesquisar()">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">
                            <button class="btn btn-success add-btn" data-bs-toggle="modal" data-bs-target="#showModal" (click)="abrirModal(content)">
                                <i class="ri-add-line align-bottom me-1"></i> Novo Operador
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card mb-2">
                        <table class="table align-middle table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort">ID Operador</th>
                                    <th class="sort">Nome</th>
                                    <th class="sort">Email</th>
                                    <th class="sort">Admin?</th>
                                    <th class="sort">Ativo?</th>
                                    <th class="sort">Data Inclusão</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (data of operadoresPagina; track $index) {
                                <tr>
                                    <td>
                                        <ngb-highlight [result]="data.operadorId" [term]="termoBusca"></ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.nome" [term]="termoBusca"></ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.email" [term]="termoBusca"></ngb-highlight>
                                    </td>
                                    <td>
                                        <span class="badge" [ngClass]="{'bg-success-subtle text-success': data.seAdmin, 'bg-danger-subtle text-danger': !data.seAdmin}">
                                            {{ data.seAdmin ? 'Sim' : 'Não' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge" [ngClass]="{'bg-success-subtle text-success': data.ativo === 'S', 'bg-danger-subtle text-danger': data.ativo !== 'S'}">
                                            {{ data.ativo === 'S' ? 'Sim' : 'Não' }}
                                        </span>
                                    </td>
                                    <td>{{data.dataInclusao | date :'dd/MM/yyyy'}}</td>
                                    <td>
                                        <ul class="list-inline hstack gap-2 mb-0">
                                            <li class="list-inline-item edit" ngbTooltip="Editar" placement="top">
                                                <a href="javascript:void(0);" class="text-primary d-inline-block" (click)="editar(data.funcionarioId || data.operadorId!, content)">
                                                    <i class="ri-pencil-fill fs-16"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" ngbTooltip="Excluir" placement="top">
                                                <a href="javascript:void(0);" class="text-danger d-inline-block" (click)="confirmarExcluir(data.funcionarioId || data.operadorId!)">
                                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                }
                                @if(operadoresPagina.length === 0) {
                                <tr>
                                    <td colspan="7" class="text-center">Nenhum registro encontrado.</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <ngb-pagination [collectionSize]="totalRegistros" [(page)]="pagina" [pageSize]="tamanhoPagina" (pageChange)="mudarPagina()">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contacts Create Model -->
<ng-template #content role="document" let-modal>
    <div class="modal-header bg-info-subtle p-3">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Operador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form (ngSubmit)="salvar()" [formGroup]="formularioOperador" class="tablelist-form" autocomplete="off">
        <div class="modal-body">
            <input type="hidden" id="id-field" formControlName="funcionarioId" />
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="operadorId-field" class="form-label">ID do Operador (Login)</label>
                        <input type="text" id="operadorId-field" class="form-control" placeholder="Ex: JOAO.SILVA" required formControlName="operadorId" [ngClass]="{ 'is-invalid': submetido && controlesFormulario['operadorId'].errors }" />
                        @if (submetido && controlesFormulario['operadorId'].errors) {
                        <div class="invalid-feedback">
                            @if (controlesFormulario['operadorId'].errors['required']) { <div>ID do Operador é obrigatório</div> }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="name-field" class="form-label">Nome Completo</label>
                        <input type="text" id="name-field" class="form-control" placeholder="Nome do operador" required formControlName="nome" [ngClass]="{ 'is-invalid': submetido && controlesFormulario['nome'].errors }" />
                        @if (submetido && controlesFormulario['nome'].errors) {
                        <div class="invalid-feedback">
                            @if (controlesFormulario['nome'].errors['required']) { <div>Nome é obrigatório</div> }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="email-field" class="form-label">Email</label>
                        <input type="email" id="email-field" class="form-control" placeholder="Email" required formControlName="email" [ngClass]="{ 'is-invalid': submetido && controlesFormulario['email'].errors }" />
                        @if (submetido && controlesFormulario['email'].errors) {
                        <div class="invalid-feedback">
                            @if (controlesFormulario['email'].errors['required']) { <div>Email é obrigatório</div> }
                            @if (controlesFormulario['email'].errors['email']) { <div>Email inválido</div> }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="senha-field" class="form-label">Senha</label>
                        <input type="password" id="senha-field" class="form-control" placeholder="Senha" formControlName="senha" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-check form-switch form-switch-md mb-3" dir="ltr">
                        <input type="checkbox" class="form-check-input" id="seAdmin" formControlName="seAdmin">
                        <label class="form-check-label" for="seAdmin">É Admin?</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <label for="ativo-field" class="form-label">Ativo</label>
                        <select class="form-control" id="ativo-field" formControlName="ativo">
                            <option value="S">Sim</option>
                            <option value="N">Não</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modal.close('Close click')">Cancelar</button>
                <button type="submit" class="btn btn-success" id="add-btn">Salvar</button>
            </div>
        </div>
    </form>
</ng-template>
