/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

#notificationItemsTabContent {
    .avatar-title {
        height: 30px !important;
        width: 30px !important;
    }
}

[data-bs-theme="dark"] {
    .fc {
        .fc-multimonth-daygrid {
            background: #212529 !important;
        }

        .fc-day-disabled {
            background: #282b2e !important;
        }

        .fc-multimonth {
            border-color: #32383e !important;
        }
    }
}

.overlay-carregando {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.45);
    z-index: 10;
}

.conteiner-carregando {
    position: relative;
}

[data-bs-theme="dark"] {
    .overlay-carregando {
        background: rgba(0, 0, 0, 0.45);
    }
}
